extends layout 

block scripts
    script(src="../javascripts/createItem.js" defer="true")
block content 
    button#me Retourner sur votre profil
    h1 Créer un objet 
    form#itemdata
        label Nom de l'objet 
            input#itemName(type= "text" placeholder="Nom de l'objet" value= "")
        br/
        label Description
            input#description(type= "text" placeholder="Description" value= "")
        br/
        label Prix
            input#price(type= "number" min= "1")
        br/
        label
            button(type= "submit") Enregistrer
        br/