extends layout 

block content
    h1= title
    table.itemList
        each item in items
            tr.item(data-id= item._id)
                td.name= item.name
                td.description= item.description
                td.price= item.price
