body {
  padding: 50px;
  font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.lastBought {
  display: none;
}

#creditValue {
  display: none;
}

#credit {
  display: none;
}

#modifyValue {
  display: none;
}

#value {
  display: none;
}

header > h1 {
  font-size: 40px;
  text-align: center;
}

table {
  border-collapse : collapse;
}

th, td {
  border : 1px solid black;
  width: 20%;
  text-align: center;
}

.modifyCase {
  border-style : none;
  text-align: left;
}

.removeCase {
  border-style: none;
  text-align: left;
}

button {
  background-color: blue;
  border: 2px grey solid;
  color : white;
  margin-left: 10px;
  margin-right: 10px;
  font-size: 20px;
}

div {
  margin: 10px;
}